extends layout

block container
  .container(ng-app, ng-controller='cv')
    .row
    .col-xs-12
      #photo-header.text-center
        #photo
          img(src='img/avatar.png', alt='avatar')
        #text-header
          h1
            | Hello,
            br
            | my name is 
            span Javier 
            sup 30yo 
            | and this is my resume
    .row
    .col-xs-12.col-sm-7
      // ABOUT ME
      .box
        h2 About Me
        p(style='white-space:pre;')
          | SysAdmin, DBA, DevOp in love with automate many processes. 
          | Passionate for tune up and extract the best performance of servers, dbs and web applications 
          | Infrastructure Consultant with focus in Web Applications with high availability and performance issues

      .box
        h2 Experiences
        ul#education.clearfix
          li(ng-repeat="work in works")
            .year.pull-left {{work.year}}
            .description.pull-right
              h3 {{work.company}}
              h5 {{work.title}}
              p(style='white-space:pre;margin-left: 15px;') {{work.description}}

    .col-xs-12.col-sm-5

      .box.clearfix
        h2 Contact
        .contact-item(ng-repeat="contact in contacts")
          .icon.pull-left.text-center
            span.fa.fa-fw(class='{{"fa-" + contact.name}}')
          .title.only.pull-right {{contact.value}}

      .box
        h2 Skills
        .skills
          .item-skills(ng-repeat="skill in skills", data-percent="{{skill.value}}") {{skill.name}}
          .skills-legend.clearfix
            .legend-left.legend Beginner
            .legend-left.legend
              span Proficient
            .legend-right.legend
              span Expert
            .legend-right.legend Master

      .box
        h2 Education
        .job.clearfix(ng-repeat="study in studies")
          .col-xs-3
            .where {{study.company}}
            .year {{study.year}}
          .col-xs-9
            .profession {{study.description}}

      .box
        h2 Languages
        #language-skills
          .skill(ng-repeat="language in languages") {{language.name}}
            .icons.pull-right
              .icons-red(style='width: {{language.value * 100}}%;')

      .box
        h2 Hobbies
        .hobby(ng-repeat="hobby in hobbies") {{hobby}}
