doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Javier Tomas Zon
    link(href='http://css-jzon.s3-website-sa-east-1.amazonaws.com/bootstrap.min.css', rel='stylesheet')
    link(href='http://css-jzon.s3-website-sa-east-1.amazonaws.com/font-awesome.min.css', rel='stylesheet')
    link(href='http://css-jzon.s3-website-sa-east-1.amazonaws.com/main.css', rel='stylesheet')

  body
    block container

    script(src='http://js-jzon.s3-website-sa-east-1.amazonaws.com/jquery.min.js')
    script(src='http://js-jzon.s3-website-sa-east-1.amazonaws.com/bootstrap.min.js')
    script(src='http://js-jzon.s3-website-sa-east-1.amazonaws.com/angular.min.js')
    script(src='http://js-jzon.s3-website-sa-east-1.amazonaws.com/scripts.js')